<div class="header">
  <h2>Catálogo de Produtos</h2>
  <button class="sair" (click)="logout()">Sair</button>
</div>

<p class="welcome-text">
  Bem-vindo, <strong>{{ nomeUsuario }}</strong>! Veja nossos produtos disponíveis:
</p>

<div class="admin-actions" *ngIf="isAdmin">
  <!-- Campo de busca COM WRAPPER -->
  <div class="search-container">
    <input
      type="text"
      placeholder="🔍 Buscar produto por nome ou ID..."
      [(ngModel)]="filtro"
      (input)="filtrarProdutos()"
      class="search-input"
    />
    <span class="search-icon">🔎</span>
  </div>

  <!-- Linha de botões -->
  <div class="buttons-row">
    <button class="btn" (click)="irParaCriarProduto()">Criar Produto</button>
    <button class="btn" (click)="irParaEditarProduto()">Editar Produto</button>
    <button class="btn" (click)="irParaDesativarProduto()">Ativar ou Desativar Produto</button>
    <button class="admin-btn" (click)="router.navigate(['/admin/usuarios'])">Gerenciar Usuários</button>
  </div>
</div>


<div class="products-grid">
  <div *ngFor="let produto of produtosFiltrados" class="product-card">
    <h3>{{ produto.id }} - {{ produto.nome }}</h3>
    <p>{{ produto.descricao || 'Descrição indisponível' }}</p>
    <p><strong>Preço:</strong> R$ {{ produto.preco }}</p>
  </div>

  <div *ngIf="produtosFiltrados.length === 0" class="no-results">
    <p> Nenhum produto encontrado.</p>
  </div>
</div>
